 body {
     background: #50565F;
     font-size: 11px;
     font-family: verdana;
     text-align: center;
     padding-top: 30px;
     color: #3D444E;
 }
 
 canvas {
     margin: 1px;
     padding: 0px;
     background: #3D444E;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px
 }
